<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head th:fragment="base1">
<meta charset="UTF-8" />
<title th:text="${title}">this is home page</title>

</head>
<body>


        <!--package section start-->

        <section class="packages" id="packages" style="background-image:linear-gradient(155deg,
                  white, rgba(0, 255, 0, 0.1), rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0.5)); padding-top:9rem;">
            <h1 class="heading">
                <span>p</span>
                <span>a</span>
                <span>c</span>
                <span>k</span>
                <span>a</span>
                <span>g</span>
                <span>e</span>
                <span>s</span>
            </h1>
    
            <div class="box-container" >
                <div class="box">
                    <img src="images/mumbai1.avif" alt="">
                    <div class="content">
                        <h3>
                            <i class="fas fa-map-marker-alt"></i> Mumbai
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            
                            
                        </div>
                        <div class="price">$90.00 <span>$120.00</span></div>
                        <a href="#" class="btn">book now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="images/paris1.avif" alt="">
                    <div class="content">
                        <h3>
                            <i class="fas fa-map-marker-alt"></i> Paris
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            
                            
                        </div>
                        <div class="price">$90.00 <span>$120.00</span></div>
                        <a href="#" class="btn">book now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="images/sydney2.avif" alt="">
                    <div class="content">
                        <h3>
                            <i class="fas fa-map-marker-alt"></i> Sydney
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            
                            
                        </div>
                        <div class="price">$90.00 <span>$120.00</span></div>
                        <a href="#" class="btn">book now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="images/new_york1.avif" alt="">
                    <div class="content">
                        <h3>
                            <i class="fas fa-map-marker-alt"></i> New York
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            
                            
                        </div>
                        <div class="price">$90.00 <span>$120.00</span></div>
                        <a href="#" class="btn">book now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="images/egypt.avif" alt="">
                    <div class="content">
                        <h3>
                            <i class="fas fa-map-marker-alt"></i> Egypt
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            
                            
                        </div>
                        <div class="price">$90.00 <span>$120.00</span></div>
                        <a href="#" class="btn">book now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="images/dubai.avif" alt="">
                    <div class="content">
                        <h3>
                            <i class="fas fa-map-marker-alt"></i> Dubai
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            
                            
                        </div>
                        <div class="price">$90.00 <span>$120.00</span></div>
                        <a href="#" class="btn">book now</a>
                    </div>
                </div>

            </div>
        </section>


        <!--package section end-->


</body>
</html>


