<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>

</head>
<body>

<!--home section start--->
    <section class="included" id="included">
        <section class="services" id="services">

            <h1 class="heading">
                <span>s</span>
                <span>e</span>
                <span>r</span>
                <span>v</span>
                <span>i</span>
                <span>c</span>
                <span>e</span>
                <span>s</span>
            </h1>

        

        <div class="box-container">

            <div class="box">
                <i class="fas fa-hotel"></i>
                <h3>affordable hotels</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eaque deleniti error maiores illum voluptas laborum molestias a. Vel, praesentium.</p>
            </div>

            <div class="box">
                <i class="fas fa-utensils"></i>
                <h3>food and drinks</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eaque deleniti error maiores illum voluptas laborum molestias a. Vel, praesentium.</p>
            </div>

            <div class="box">
                <i class="fas fa-bullhorn"></i>
                <h3>safty guide</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eaque deleniti error maiores illum voluptas laborum molestias a. Vel, praesentium.</p>
            </div>

            <div class="box">
                <i class="fas fa-globe-asia"></i>
                <h3>around the world</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eaque deleniti error maiores illum voluptas laborum molestias a. Vel, praesentium.</p>
            </div>

            <div class="box">
                <i class="fas fa-plane"></i>
                <h3>fastest travel</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eaque deleniti error maiores illum voluptas laborum molestias a. Vel, praesentium.</p>
            </div>

            <div class="box">
                <i class="fas fa-hiking"></i>
                <h3>advantures</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eaque deleniti error maiores illum voluptas laborum molestias a. Vel, praesentium.</p>
            </div>
        </div>
        
    </section>
    <!--home section end--->


</body>
</html>
