<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>

</head>
<body>

<!--home section start--->
    <!--Review  section start-->
<!--Review  section start-->
<section class="review" id="review">


    <h1 class="heading">
        <span>R</span>
        <span>e</span>
        <span>v</span>
        <span>i</span>
        <span>e</span>
        <span>w</span>
        <span>s</span>
    </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">
            
          

            <div class="swiper-slide">
                <div class="box">
                    <img src="images/pics.png" alt="">
                    <h3>john deo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quod, amet nemo voluptate est aut eveniet facilis? Quam, iusto veniam? Molestiae, eum excepturi sed repellat accusantium doloribus maxime fugiat perspiciatis!</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
    
                    </div>
                </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <img src="images/pics2.png" alt="">
                        <h3>john deo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quod, amet nemo voluptate est aut eveniet facilis? Quam, iusto veniam? Molestiae, eum excepturi sed repellat accusantium doloribus maxime fugiat perspiciatis!</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
        
                        </div>
                    </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="box">
                            <img src="images/pics3.png" alt="">
                            <h3>john deo</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quod, amet nemo voluptate est aut eveniet facilis? Quam, iusto veniam? Molestiae, eum excepturi sed repellat accusantium doloribus maxime fugiat perspiciatis!</p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
            
                            </div>
                        </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="box">
                                <img src="images/pics4.png" alt="">
                                <h3>john deo</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quod, amet nemo voluptate est aut eveniet facilis? Quam, iusto veniam? Molestiae, eum excepturi sed repellat accusantium doloribus maxime fugiat perspiciatis!</p>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                
                                </div>
                            </div>
                            </div>


        </div>
    </div>


</section>



<!--Review  section end-->



</body>
</html>
